.about-text-long {
  color: #000;
  width: 70%;
  margin: 0 auto;
}
.about-head {
  text-align: center;
}
.b-img {
  width: 80%;
  padding: 0 10%;
  height: 500px;
}
.guru-det-div {

  padding-top: 2%;
  width: 70%;
  margin: 50px auto;
}
.guru-detail {
  display: flex;
}
.guru-img-div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guru-img {
  width: 18vw;
  height: auto;
}
.guru-det {
  width: 75%;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .guru-d {
    font-size: 0.75em;
  }
  .guru-det {
    font-size: 0.75em;
  }
  .guru-det-div {
    margin: 25px auto;
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .guru-det-div {
    margin: 35px auto;
    width: 80%;
  }
}