.header-div {
  height: 50px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  overflow: hidden;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.logo-div {
  width: 5%;
}
.logo {
  height: 40px;
  padding: 5px;
}
.menu-div {
  width: 95%;
  justify-content: center;
  display: flex;
  vertical-align: middle;
}
.nav-btn {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}
