.footer-div {
  margin-top: 2%;
  display: flex;
  background-color: #fff;
  padding-bottom: 3.125em;
  box-shadow: 0 -5px 5px -5px rgba(57, 63, 72, 0.3);
}
.left-footer {
  width: 50%;
  padding-left: 3.125em;
  padding-top: 2.5em;
}
.map {
  padding-top: 3.125em;
  width: 50%;
}
h5 {
  margin: 0;
  padding: 0.625em 0;
}

@media screen and (max-width: 600px) {
  .footer-div {
    display: block;
  }
  .map {
    width: 60%;
    padding-left: 40px;
    padding-top: 2em;
  }
  .addr-div {
    font-size: 0.75em;
  }
}

